
*,*::after,*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  min-width: 300px;
  min-height: 100%;
  color: #444;
  background-color: #fff;
  margin: 0;
  font-size: .875rem;
  font-weight: 400;
  font-family: Inter,sans-serif;
  line-height: 1.5;
  text-align: left;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}